// //fonts in dev folder are only used for backup purposes. They don't link directly to this file.
@font-face {
  font-family: "Suisse Int'l";
  src: url('https://cdn.shopify.com/s/files/1/0117/5139/1332/files/SuisseIntl-Regular-WebS.woff2?v=1712682711.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0117/5139/1332/files/SuisseIntl-Regular-WebS.woff?v=1712682711') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url('https://cdn.shopify.com/s/files/1/0117/5139/1332/files/SuisseIntl-RegularItalic-WebS.woff2?v=1712682711') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0117/5139/1332/files/SuisseIntl-RegularItalic-WebS.woff?v=1712682711.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url('https://cdn.shopify.com/s/files/1/0117/5139/1332/files/SuisseIntl-Medium-WebS.woff2?v=1712682711') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0117/5139/1332/files/SuisseIntl-Medium-WebS.woff?v=1712682711') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url('https://cdn.shopify.com/s/files/1/0117/5139/1332/files/SuisseIntl-MediumItalic-WebS.woff2?v=1712682711') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0117/5139/1332/files/SuisseIntl-MediumItalic-WebS.woff?v=1712682711') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}


//fonts in dev folder are only used for backup purposes. They don't link directly to this file.
// @font-face {
//   font-family: "Suisse Int'l";
//   src: url('SuisseIntl-Regular-WebS.woff2?v=1712682711.woff2') format('woff2'),
//         url('SuisseIntl-Regular-WebS.woff?v=1712682711') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Suisse Int'l";
//   src: url('SuisseIntl-RegularItalic-WebS.woff2?v=1712682711') format('woff2'),
//         url('SuisseIntl-RegularItalic-WebS.woff?v=1712682711.woff') format('woff');
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Suisse Int'l";
//   src: url('SuisseIntl-Medium-WebS.woff2?v=1712682711') format('woff2'),
//         url('SuisseIntl-Medium-WebS.woff?v=1712682711') format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Suisse Int'l";
//   src: url('SuisseIntl-MediumItalic-WebS.woff2?v=1712682711') format('woff2'),
//         url('SuisseIntl-MediumItalic-WebS.woff?v=1712682711') format('woff');
//   font-weight: 500;
//   font-style: italic;
//   font-display: swap;
// }
